<%- include('./partials/header') %>
<!-- <img src="/public/images/machiamCookLogo.jpg" alt="My Image" type="image/x-icon"> -->
<nav>
  <h3><a href="/users/login">Log In</a></h3>
</nav> 
    <p>Welcome to <%= title %></p>
    <h2>Real to make real food?</h2>
    <img src="https://www.iberdrola.com/documents/20125/39904/real_food_746x419.jpg/0c9185fa-b2dd-e1a6-602c-bca55f68e54e?t=1626673209445" alt="food img">
<%- include('./partials/footer') %>


<!-- <%= title %> is defined inside routes/index.js [res.render("index", { title: "To Insert Project name" }] -->