
<%- include('./partials/header') %>
<!-- <img src="/public/images/machiamCookLogo.jpg" alt="My Image" type="image/x-icon"> -->

<nav>
  <a href="/">Home</a>
  |
  <a href="/recipes">All Recipes</a>
  |
  <a href="/users/login">Log In</a>
</nav>

    
    <p>Welcome to <%= title %></p>
    <!-- <h2>Welcome <span id="userid"></span></h2>  -->
    <!-- <h2>Ready to be the next Michelin Star?</h2> -->


    <img src="https://www.iberdrola.com/documents/20125/39904/real_food_746x419.jpg/0c9185fa-b2dd-e1a6-602c-bca55f68e54e?t=1626673209445" alt="food img">

    <%- include('./partials/footer') %>


<!-- <%= title %> is defined inside routes/index.js [res.render("index", { title: "To Insert Project name" }] -->