@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap');

#MachiamCook {
  text-align: center;
  font: 'Rubik', sans-serif;
  font-style: italic;
  color: rgb(224, 85, 85);
  font-size: 40px;
}

body {
  padding: 40px;
  background-color: rgb(252, 253, 253);
}

/* to remove the line unser the link */
a:link,
a:visited {
  text-align: center;
  text-decoration: none;
}

.heart-button {
  width: 30px;
  height: 32px;
  border: none;
  background-color: transparent;
  position: relative;
  cursor: pointer;
}

.heart-button:before,
.heart-button:after {
  content: "";
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 12px;
  width: 22px;
  height: 34px;
  transform: rotate(-135deg);
}

.heart-button:before {
  left: 0;
  transform: rotate(135deg);
}