@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap');

#MachiamCook {
  text-align: center;
  font: 'Rubik', sans-serif;
  font-style: italic;
  color: rgb(224, 85, 85);
  font-size: 40px;
}

body {
  padding: 40px;
  background-color: rgb(252, 253, 253);
}

/* to remove the line unser the link */
a:link,
a:visited {
  text-align: center;
  text-decoration: none;
}
