
<%- include('../partials/header') %>

<nav>
  <a href="/user/home">Home</a> <!-- need to double confirm -->
  |
  <a href="/recipes/index">All Recipes</a>
  |
  <a href="/recipes/new">Submit Recipes</a> 
  |
  <a href="/recipes/show">My Book</a>
  |
  <a href="/recipes/fav">Fav</a>
  |
  <a href="/users/logout">Log out</a>
</nav>
    <h1>Welcome to MachiamCook </h1>
    <h1>Ready to be the next</h1>
    <h1>Michelin Star?</h1>
    <form>
         <button type="submit">YAY!</button>
    </form>
    
<!-- when click the YAY! button, will rediect to view all Recipes page ()  -->
    <%- include('../partials/footer') %>