<%- include('../partials/header') %>

<nav>
<a href="/">Home</a> 
|
<a href="/recipes">All Recipes</a>
|
<a href="/users/login">Log In</a>
</nav>
<br>

<h1>You has been succfully log out.</h1>

<h2>See you soon!</h2>

<%- include('../partials/footer') %>