|<%- include('../partials/header') %>
<nav>
  <a href="/user/home">Home</a> <!-- need to double confirm -->
  |
  <a href="/recipes/index">All Recipes</a>
  |
  <a href="/recipes/new">Submit Recipes</a> 
  |
  <a href="/recipes/show">My Book</a>
  |
  <a href="/recipes/fav">Fav</a>
  |
  <a href="/users/logout">Log out</a>
</nav>

<h2>Edit Recipe Form</h2>


<form>
<button type="submit">Update Recipe</button>
</form>

<%- include('../partials/footer') %>