<%- include('../partials/header') %>
<h1>MachiamCook</h1>
<nav>
  <a href="/user/home">Home</a> <!-- need to double confirm -->
  |
  <a href="/recipes/index">All Recipes</a>
  |
  <a href="/recipes/new">Submit Recipes</a> 
  |
  <a href="/recipes/show">My Book</a>
  |
  <a href="/recipes/fav">Fav</a>
  |
  <a href="/users/logout">Log out</a>
</nav>

<h1>Reviews</h1>


<form>
<button type="submit" class="btn btn-primary">Submit Reviews</button>
</form>

<%- include('../partials/footer') %>